node_modules
dist
.env
.DS_Store
.idea
.vscode
*.log
*.tmp
*.bak
*.swp
*.swo
*.pid
*.seed
*.pid.lock
coverage
.nyc_output
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.zip
*.tar.gz
*.tgz
*.7z
*.rar
.DS_Store
Thumbs.db